html{
    box-sizing: border-box;
    min-height: 100%;
    }
    *, *:before, *:after{
        box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    min-height: 100%;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#904fb1+0,8d1bd9+0,ad81bf+0,a66fbd+51,a66fbd+51,a66fbd+51,a66fbd+51,a66fbd+51,a66fbd+51,a66fbd+51,a66fbd+51,a66fbd+51,a66fbd+51,a66fbd+51,a66fbd+51,a66fbd+51,a66fbd+51,a66fbd+52,7280de+100 */
background: #904fb1; /* Old browsers */
background: -moz-linear-gradient(top,  #904fb1 0%, #8d1bd9 0%, #ad81bf 0%, #a66fbd 51%, #a66fbd 51%, #a66fbd 51%, #a66fbd 51%, #a66fbd 51%, #a66fbd 51%, #a66fbd 51%, #a66fbd 51%, #a66fbd 51%, #a66fbd 51%, #a66fbd 51%, #a66fbd 51%, #a66fbd 51%, #a66fbd 51%, #a66fbd 52%, #7280de 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #904fb1 0%,#8d1bd9 0%,#ad81bf 0%,#a66fbd 51%,#a66fbd 51%,#a66fbd 51%,#a66fbd 51%,#a66fbd 51%,#a66fbd 51%,#a66fbd 51%,#a66fbd 51%,#a66fbd 51%,#a66fbd 51%,#a66fbd 51%,#a66fbd 51%,#a66fbd 51%,#a66fbd 51%,#a66fbd 52%,#7280de 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #904fb1 0%,#8d1bd9 0%,#ad81bf 0%,#a66fbd 51%,#a66fbd 51%,#a66fbd 51%,#a66fbd 51%,#a66fbd 51%,#a66fbd 51%,#a66fbd 51%,#a66fbd 51%,#a66fbd 51%,#a66fbd 51%,#a66fbd 51%,#a66fbd 51%,#a66fbd 51%,#a66fbd 51%,#a66fbd 52%,#7280de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#904fb1', endColorstr='#7280de',GradientType=0 ); /* IE6-9 */
    background-attachment: fixed;
}

/** UTILITIES **/
img {
    max-width: 100%;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 5rem;
    text-transform: uppercase;
}

h3 {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}

/** HEADER **/
.logo {
    display:flex;
    justify-content: center;
    padding-top: 60px;
}

.nav-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
}

/** NAV **/
.nav{
    width: 100%;
    max-width: 78rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    pointer-events: none;
    flex: 1;
}

.nav:hover {
    pointer-events: auto;
}

.social-media-cta h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    pointer-events: auto;
    text-align: center;
}

.separator-line {
    width: 15rem;
    height: 3px;
    background-color: #ffffff;
    margin-left: 1rem;
    margin-right: auto;
    transform: scaleX(.2);
    transform-origin: left;
    transition: transform .5s ease-in-out;
}

.nav:hover .separator-line {
    transform: scaleX(1);
}

.nav-list {
    display: flex;
    flex-direction: column;
}

.nav-item {
    list-style: none;
    opacity: 0;
    transition: transform .5s ease-in-out; opacity: .5s ease-in-out;
}

.nav-item:nth-child(odd){
    transform: translateY(5rem);
}

.nav-item:nth-child(even){
    transform: translateY(-5rem);
}

.nav:hover .nav-item {
    opacity: 1;
    transform: translateY(0);
}

.nav-link {
    color: #ffffff;
    font-size: 2rem;
    line-height: 4rem;
}

.nav-link i {
    transition: color .5s ease-in-out;
}

.nav-link:hover i.fa-facebook-f {
    color: #3B5998;
} 

.nav-link:hover i.fa-twitter {
    color: #1da1f2;
}

.nav-link:hover i.fa-instagram {
    color: #ea4c89;
}

@media (min-width: 768px) {
    .nav,
    .nav-list {
        flex-direction: column;
    }
    .social-media-cta h1 {
        padding-left: 0;
    }
    .separator-line {
        margin: auto;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .nav-item:nth-child(odd){
        transform: translate(5rem, 0);
    }
    
    .nav-item:nth-child(even){
        transform: translate(-5rem, 0);
    }
    .nav-link {
        line-height: unset;
    }
}
/* ABOUT US */
.aboutus-container { 
    width: 95%;
    max-width: 120rem; 
    margin: 0 auto;
    padding-bottom: 5rem;
}
@media (min-width: 768px) {
    .aboutus-icon {
    display: flex;
    justify-content: space-between;
    text-align: center;
    }
}

.icon{
    text-align: center;
}

@media (min-width: 786px) {
    .icon {
    flex-basis: calc(33.3% - 1rem); 
    }
    .icon p {
        line-height: 30px;
    }
}

.iconsize {
    width: 20%;
}

.icon h3 {
    text-transform: uppercase;
}

/** MAIN **/
.container {
    max-width: 1000px;
    width: 95%;
    margin: 0 auto;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

@media (min-width: 768px) {
    .products-list {
        grid-template-columns: repeat(3,1fr);
    }
}

.product {
    background-color: #904fb1;
    padding: 1rem;
}

.description {
    text-align: center;
    margin: 1rem 0;
    line-height: .5rem;
}

.description .title {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
}

.description .price {
    font-size: 1rem;
    color: rgb(233,187,2);
    font-weight: bold;
}

.graphic {
    min-height: 300px;
    grid-column: 1 / 3;
    background-size: cover;
    background-position: center center;
}

.graphic1 {
    background-image: url(../img/grafico1.jpg);
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.graphic2 {
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;
}

@media (min-width: 768px) {
    .graphic2 {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

.copyright {
    color: white;
}

/* PRODUCT */

.container h1 {
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}

.info-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-column-gap: 2rem;
    padding-bottom: 2rem;
}

@media (min-width: 768px) {
.info-container {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 3rem;
    }    
}

.product-image {
    width: 75%;
    margin-left: 4rem;
}

.order-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 3.5rem);
    grid-gap: 1rem;
}

.text {
    text-align: center;
}

.field {
    background-color: transparent;
    border: 2px solid #ffffff;
    font-size: 1.2rem;
    padding: 1rem; 
    width: 100%;
    color: #ffffff;
}

.size {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    grid-column: 1 / 3;
}

.button {
    color: #8d1bd9;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    transition: background-color .3s ease;
    grid-column: 1 /4;
}

.button:hover{
    cursor: pointer;
    background-color: rgb(233,187,2);
}

/* FOOTER*/
.site-footer {
    padding: 3rem 0;
    text-align: center;
    display: flex end;
    clear: both;
}